@{
    ViewData["Title"] = "Late Fees";
    List<ReservationModel>? reservations = TempData.Get<List<ReservationModel>>("ReservationData");
    int userId = int.Parse((TempData["userId"]).ToString() ?? "0");
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/_Layout.cshtml.css">
    <style>
        .custom-element {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
        }
        .centered-elements {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="centered-elements">
            <h2>Late Fees</h2>

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Book ID</th>
                        <th>Date Reserved</th>
                        <th>Amount Due</th>
                        <th>Pay</th>
                    </tr>
                </thead>
                <tbody>
                    @if (reservations != null)
                    {
                        @foreach (var reservation in reservations)
                        {
                            <tr>
                                <td>@reservation.ReservationId</td>
                                <td>@reservation.BookId</td>
                                <td>@reservation.ReservationDate</td>
                                <td>@PaymentService.CalculateFee(@reservation)</td>
                                <td>
                                    <form asp-controller="Payment" asp-action="PayFee" asp-route-reservationId="@reservation.ReservationId" method="post">
                                        <button type="submit">Pay now</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <form asp-controller="MainMenu" asp-action="Index" asp-route-userId="@userId" method="post">
                <button type="submit">Return</button>
            </form>
</body>
</html>
